@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --dark-blue: #222831;
  --turquoise: #76ABAE;
  --white: #EEE;
  --blue: #0057FF;
  --black: #000;
  --purple: #7469B6;
  --pink: #FFE6E6;
  --inter: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  background: var(--dark-blue);
  color: #000;
  font-family: var(--inter);
}

ul {
  list-style: none;
}

.navbar {
  color: var(--turquoise);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
}

.navbar img {
  width: 3rem;
}


.right-nav {
  display: flex;
  align-items: center;
}

.right-nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.right-nav img {
  width: 1.75rem;
  margin-left: 1rem;
}