@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --dark-blue: #222831;
  --turquoise: #76ABAE;
  --white: #EEE;
  --blue: #0057FF;
  --black: #000;
  --purple: #7469B6;
  --pink: #FFE6E6;
  --inter: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  background: var(--dark-blue);
  color: #000;
  font-family: var(--inter);
}

ul {
  list-style: none;
}

.brand-name {
  margin: auto 0;
  color: var(--turquoise);
}

.nav {
  color: var(--turquoise);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1.5rem;
  font-weight: 500;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
}

.navbar img {
  width: 3rem;
}

.navbar-nav {
  align-items: flex-end;
  justify-content: right;
}

img[alt="login"] {
  width: 1.5rem;
  margin-left: 1rem;
}

.nav-item {
  border-bottom: 2px solid;
  border-color: transparent;
}

.nav-link {
  color: var(--turquoise);
}

.nav-link:hover {
  color: var(--turquoise);
}

.navbar-toggler {
  color: transparent;
  border-color: transparent;
  outline: none;
}

.navbar-toggler-icon {
  background: url('./assets/menu.png');
  background-size: cover;
}